body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Helvetica", sans-serif;
  color: White;
}

.chestnut, .garden {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: grey;
  background-size: cover;
  min-height: 100%;
  
  background-attachment: fixed;
}

.chestnut {
  background-image: url("https://user-images.githubusercontent.com/59932098/103478992-9d234900-4dca-11eb-80b7-4401d54f520d.jpg");
  min-height: 100%;
  background-size: auto;
}

.garden {
  background-image: url("https://user-images.githubusercontent.com/59932098/103478871-e8892780-4dc9-11eb-9030-4d3dfc3c3b4a.jpg");
  min-height: 100%;
  background-size: auto;
}

.caption {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: left;
}

.border {
  background-color: slategrey;
  color: White;
  padding: 12px;
  font-size: 40px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Helvetica", sans-serif;
  color: white;
  text-align: left
}

.textSection {
  background-color: slategrey;
  padding:50px 80px;
}

.author-social {
  background-color: slategrey;
}
