body, html {
  height: 100%;
  margin: 0;
  font: 400 14px/1.8 "Helvetica", sans-serif;
  color: White;
}

/*navigation bar*/
nav ul {
    background-color: #88b0d6;
    border-style: solid;
    border-color: black;
    border-width: 1;
    padding: 5px;
    border-radius: 10px;
}

nav ul li {
    color: #88b0d6;
    list-style-type: none;
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}


/* Background Pictures */
.hplc_room, .hplc, .endoagar, .phytochamber, .desk, .uniklinik, .chestnut, .raspberrypi {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0b55aa;
  background-size: cover;
  min-height: 50%;
  background-attachment: fixed;
}

.hplc_room {
  background-image: url("https://user-images.githubusercontent.com/59932098/104106123-8b064680-52b3-11eb-9b89-44daa209cb20.jpg");
  background-size: 100%;
}

.hplc {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/61/Inlet_valve_on_the_HPLC.jpg");
  background-size: 100%;
}

.phytochamber {
  background-image: url("https://user-images.githubusercontent.com/59932098/104106102-66aa6a00-52b3-11eb-8944-983d4053546d.jpg");
  background-size: 100%;
}

.desk {
  background-image: url("https://user-images.githubusercontent.com/59932098/104436864-65688e00-558e-11eb-90e1-c8d17368a3c6.jpg");
  background-size: 100%;
}

.chestnut {
  background-image: url("https://user-images.githubusercontent.com/59932098/103478992-9d234900-4dca-11eb-80b7-4401d54f520d.jpg");
  background-size: 100 %;
}

.raspberrypi {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/f1/Raspberry_Pi_4_Model_B_-_Side.jpg");
  background-size: 100 %;
}

/*alternative picture: https://upload.wikimedia.org/wikipedia/commons/3/30/Uniklinik_RWTH_Aachen_-_panoramio_%282%29.jpg*/
.uniklinik {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/1b/Uniklinik_der_RWTH_Aachen_-_panoramio.jpg");
  background-size: 100%;
}

.caption {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: left;
}

.caption_subtitle {
  position: absolute;
  top: 70%;
  width: 100%;
  text-align: left;
}

.border {
  background-color: #0b55aa;
  color: White;
  padding: 12px;
  font-size: 40px;
  letter-spacing: 10px;
}

.border_subtitle {
  background-color: #0b55aa;
  color: White;
  padding: 12px;
  font-size: 20px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Helvetica", sans-serif;
  color: white;
  text-align: left;
}

h4 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 16px "Helvetica", sans-serif;
  color: white;
  text-align: left;
}

h5 {  letter-spacing: 5px;
  text-transform: uppercase;
  font: 14px "Helvetica", sans-serif;
  color: white;
  text-align: left;
}

/* Text */
.textSection {
  background-color: #0b55aa;
  padding:50px 80px;
  line-height: 50%;
}


/* Table */
table, th, td {
  border-collapse: separate;
  border-spacing: 1px;
  border: 1px solid White;
}
tr {
  background-color: #0b55aa;
}
th, td {
  vertical-align: top;
  padding: 5px;
  text-align: left;
}
th {
  color: white;
}
td {
  color: white;
}


/* Internal hyperlinks */
a {
  color: #88b0d6;
  text-decoration: none;
}
a:visited {
  color: #88b0d6;
}
a:hover, a:active, a:focus {
  color: white;
  text-decoration: underline;
}


/* Social media links */
.link {
  background-color: #0b55aa;
  color: White;
  padding: 12px;
  font-size: 20px;
  letter-spacing: 10px;
}

.author-social {
  background-color: #0b55aa;
}



/* Turn off parallax scrolling for tablets and phones as it is not supported */
@media only screen and (max-device-width: 1024px) {
    .chestnut, .garden {
        background-attachment: scroll;
    }
}
