body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Helvetica", sans-serif;
  color: White;
}

/* Background Pictures */
.hplc_room, .hplc, .endoagar, .phytochamber {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: grey;
  background-size: cover;
  min-height: 50%;
  background-attachment: fixed;
}

.hplc_room {
  background-image: url("https://user-images.githubusercontent.com/59932098/104106123-8b064680-52b3-11eb-9b89-44daa209cb20.jpg");
  background-size: 100%;
}

.hplc {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/61/Inlet_valve_on_the_HPLC.jpg");
  background-size: 100%;
}

.phytochamber {
  background-image: url("https://user-images.githubusercontent.com/59932098/104106102-66aa6a00-52b3-11eb-8944-983d4053546d.jpg");
  background-size: 100%;
}

.caption {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: left;
}

.caption_subtitle {
  position: absolute;
  top: 70%;
  width: 100%;
  text-align: left;
}

.border {
  background-color: slategrey;
  color: White;
  padding: 12px;
  font-size: 40px;
  letter-spacing: 10px;
}

.border_subtitle {
  background-color: slategrey;
  color: White;
  padding: 12px;
  font-size: 20px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Helvetica", sans-serif;
  color: white;
  text-align: left
}

/* Text */
.textSection {
  background-color: slategrey;
  padding:50px 80px;
}


/* Table */
table, th, td {
  border: 1px solid HoneyDew;
  border-collapse: collapse;
}
tr {
  background-color: slategrey;
}
th, td {
  vertical-align: top;
  padding: 5px;
  text-align: left;
}
th {
  color: white;
}
td {
  color: white;
}


/* Internal hyperlinks */
a {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
}
a:hover, a:active, a:focus {
  color: white;
  text-decoration: underline;
}


/* Social media links */
.link {
  background-color: slategrey;
  color: White;
  padding: 12px;
  font-size: 20px;
  letter-spacing: 10px;
}

.author-social {
  background-color: slategrey;
}



/* Turn off parallax scrolling for tablets and phones as it is not supported */
@media only screen and (max-device-width: 1024px) {
    .chestnut, .garden {
        background-attachment: scroll;
    }
}
